section.actions a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 16px 12px;
    border-radius: 5px;
    cursor: pointer;
}

section.actions a:not(:last-child) {
    margin-right: 20px;
}

section.table-modules.show-available-modules .installed-modules {
    display: none;
}

section.table-modules:not(.show-available-modules) .available-modules {
    display: none;
}