:root {
    --c-blue-light: #4492eb;
    --c-blue-dark: #0059c1;
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Didact Gothic', sans-serif;

    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-spinner {
    width:50px; 
    height:50px;
    -webkit-animation: rotate 1.7s linear infinite;
    animation: rotate 1.7s linear infinite;
}

.animated-spinner .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.2s ease-in-out infinite;
    animation: dash 1.2s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #3f88f8;
}


.pbcms-system-display {
    width: 1000px;
    height: 800px;
    max-width: 80%;
    max-height: 70%;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.pbcms-system-display .sidebar {
    min-width: 300px;
    height: calc(100% - 100px);
    padding: 50px 5px 50px 35px;
    background-color: black;
    position: relative;
}

.pbcms-system-display .sidebar * {
    color: white;
}

.pbcms-system-display .sidebar h1.title {
    padding-bottom: 20px;
}

.pbcms-system-display .sidebar ul li {
    font-size: 16px;
    color: #555;
    transition: font-weight .2s ease, font-size .3s ease;
}

.pbcms-system-display .sidebar ul li + li:not(.current-section) {
    margin-bottom: 2px;
}

.pbcms-system-display .sidebar ul li.current-section {
    font-weight: 900;
    font-size: 19px;
    transition: font-weight .1s ease, font-size .15s ease;
    margin-bottom: 2px;
}

.pbcms-system-display .sidebar ul li.current-section:not(:first-child) {
    margin-bottom: 4px;
}

.pbcms-system-display .sidebar ul li.current-section:nth-child(2) {
    margin-top: 3px;
}

.pbcms-system-display .sidebar ul li.was-active {
    cursor: pointer;
    color: white;
}

.pbcms-system-display .sections {
    width: 100%;
    height: 100%;
    background-color: white;
}

form.pbcms-installation .sections section {
    width: calc(100% - 75px);
    height: calc(100% - 100px);
    padding: 50px 35px 50px 40px;
    display: none;
    overflow-y: scroll;
}

form.pbcms-installation .sections section::-webkit-scrollbar {
    width: 14px;
}

form.pbcms-installation .sections section::-webkit-scrollbar-track {
    background: #fff; 
}

form.pbcms-installation .sections section::-webkit-scrollbar-thumb {
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #888;
}

form.pbcms-installation .sections section::-webkit-scrollbar-thumb:hover {
    border: 3px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #555;
}

form.pbcms-installation .sections section.current-section {
    display: block;
}

form.pbcms-installation .sections section[section-name=preloader].current-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pbcms-system-display h2 {
    padding: 5px 0px 25px;
}

.pbcms-system-display h3 {
    padding: 15px 0px 10px;
}

.pbcms-system-display p {
    margin-bottom: 20px;
}

.pbcms-system-display p.error {
    color: red;
    font-weight: bold;
    margin-bottom: 30px;
}

.pbcms-system-display p.error:empty {
    display: none;
}

.pbcms-system-display button {
    margin-top: 20px;
    background-color: black;
    padding: 8px 20px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pbcms-system-display .input-fields {
    width: 100%;
    display: flex;
}

.pbcms-system-display .input-fields + .input-field {
    margin-top: 0px;
}

.pbcms-system-display .input-fields .input-field:not(:last-child) {
    margin-right: 30px;
}

.pbcms-system-display .input-field {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.pbcms-system-display .input-field span {
    position: absolute;
    top: 13px;
    left: 20px;
    padding: 0px;
    background-color: white;
    pointer-events: none;
    transition: top .2s ease, left .1s ease, padding .2s ease, font-size .2s ease, color .2s ease;
    color: #666;
}

.pbcms-system-display .input-field input {
    width: calc(100% - 42px);
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: transparent;

    border: 1px solid #888;
    border-radius: 5px;
    transition: width .1s ease, padding .1s ease;
}

.pbcms-system-display .input-field input:not(:placeholder-shown) {
    border: 1px solid var(--c-blue-light);
}

.pbcms-system-display .input-field input:focus {
    border: 2px solid var(--c-blue-dark);
    width: calc(100% - 44px);
    padding: 14px 25px;
}

.pbcms-system-display .input-field input:focus + span,
.pbcms-system-display .input-field input:not(:placeholder-shown) + span {
    top: -9px;
    font-size: 14px;
    padding: 0px 5px;
    left: 10px;
    transition: top .2s ease, left .3s ease, padding .2s ease, font-size .2s ease, color .1s ease;
    color: var(--c-blue-light);
}

.pbcms-system-display .input-field input:focus + span {
    color: var(--c-blue-dark);
}

.pbcms-system-display .input-field.red-border input {
    border: 2px solid red !important;
    color: red !important;
    width: calc(100% - 44px);
    padding: 14px 25px;
}

.pbcms-system-display .input-field.red-border span {
    color: red !important;
}

.pbcms-system-display .input-field ul {
    width: calc(100% - 60px);
    padding: 7px 20px 0px;
}

.pbcms-system-display .input-field:not(.red-border) ul.error-list {
    display: none;
}

.pbcms-system-display .input-field.red-border ul li {
    color: red !important;
}

.pbcms-system-display .input-checkbox input {
    margin-right: 4px;
}

.pbcms-system-display .input-toggle {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.pbcms-system-display .input-toggle + .input-toggle {
    margin-top: 0px;
}

.pbcms-system-display .input-toggle label {
    display: block;
    padding: 10px 0px;
    font-weight: bold;
}

.pbcms-system-display .input-toggle input {
    width: 0px;
    height: 0px;
    display: none;
    visibility: none;
    border: none;
    outline: none;
    display: absolute;
}

.pbcms-system-display .input-toggle input + label {
    width: 25px;
    height: 10px;
    margin: 6px 5px 5px 15px;
    padding: 0px;
    background-color: #c3c3c3;
    border-radius: 10px;
    position: relative;
    transition: background-color .1s ease;
    cursor: pointer;
}

.pbcms-system-display .input-toggle input:checked + label {
    background-color: var(--c-blue-light);
}

.pbcms-system-display .input-toggle input + label::after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: -4px;
    top: -4px;
    background-color: #666;
    border-radius: 20px;
    transition: background-color .1s ease, left .1s ease, right .1s ease;
}

.pbcms-system-display .input-toggle input:checked + label::after {
    left: 11px;
    background-color: var(--c-blue-dark);
}

.pbcms-system-display .input-buttons {
    display: flex;
    align-items: center;
}

.pbcms-system-display .input-buttons > button:not(:last-child),
.pbcms-system-display .input-buttons > a:not(:last-child) {
    margin-right: 15px;
}

.pbcms-system-display .input-buttons > a {
    color: var(--c-blue-dark);
    margin-top: 16px;
}

.pbcms-system-display .input-buttons > a:hover {
    color: var(--c-blue-light);
}

/* ANIMATIONS */

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
  
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes dash {
    0%   {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50%  { 
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
}
  
@keyframes dash {
    0%   {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50%  { 
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
}